<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    li{
        display: inline-block;
        list-style-position: outside;
        list-style-type: none;
        margin: 10px;
    }
    table, th, td{
        border-collapse: collapse;
        border: solid black 1px;
    }
</style>
<header>
    <div>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/regist">Regist</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/admin">Admin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/profil">Profil</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/ticket">Ticket</a>
            </li>
        </ul>
    </div>
</header>
<body>
<div>
    <p th:text="${error}"></p>
</div>
<div>
    <form th:action="@{'/admin/town/createtown'}" method="get">
        <button type="submit">Új város</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="town: ${town}">
            <td th:text="${town.id}"></td>
            <td th:text="${town.name}"></td>
            <td>
                <form th:action="@{'/admin/town/delete/' + ${town.id}}" method="post">
                    <button type="submit">Törlés</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/town/update/' + ${town.id}}" method="get">
                    <button type="submit">Módosítás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <form th:action="@{'/admin/insurance/createinsurance'}" method="get">
        <button type="submit">Új biztosítás</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Ár</th>
            <th>Leírás</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insurance: ${insurance}">
            <td th:text="${insurance.id}"></td>
            <td th:text="${insurance.name}"></td>
            <td th:text="${insurance.cost}"></td>
            <td th:text="${insurance.description}"></td>
            <td>
                <form th:action="@{'/admin/insurance/delete/' + ${insurance.id}}" method="post">
                    <button type="submit">Törlés</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/insurance/update/' + ${insurance.id}}" method="get">
                    <button type="submit">Módosítás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <form th:action="@{'/admin/ticketcategory/createticketcategory'}" method="get">
        <button type="submit">Új jegykategória</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Kedvezmény</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticketcategory: ${ticketcategory}">
            <td th:text="${ticketcategory.id}"></td>
            <td th:text="${ticketcategory.name}"></td>
            <td th:text="${ticketcategory.discount}"></td>
            <td>
                <form th:action="@{'/admin/ticketcategory/delete/' + ${ticketcategory.id}}" method="post">
                    <button type="submit">Törlés</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/ticketcategory/update/' + ${ticketcategory.id}}" method="get">
                    <button type="submit">Módosítás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <form th:action="@{'/admin/planemodel/createplanemodel'}" method="get">
        <button type="submit">Új repülőgép modell</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>Modell</th>
            <th>Név</th>
            <th>Ülőhelyek száma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="planemodel: ${planemodel}">
            <td th:text="${planemodel.model}"></td>
            <td th:text="${planemodel.name}"></td>
            <td th:text="${planemodel.seatsNumber}"></td>
            <td>
                <form th:action="@{'/admin/planemodel/delete/' + ${planemodel.model}}" method="post">
                    <button type="submit">Törlés</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/planemodel/update/' + ${planemodel.model}}" method="get">
                    <button type="submit">Módosítás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <form th:action="@{'/admin/plane/createplane'}" method="get">
        <button type="submit">Új repülőgép</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Modell</th>
            <th>Szolgáltató</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plane: ${plane}">
            <td th:text="${plane.id}"></td>
            <td th:text="${plane.model}"></td>
            <td th:text="${plane.serviceProvider}"></td>
            <td>
                <form th:action="@{'/admin/plane/delete/' + ${plane.id}}" method="post">
                    <button type="submit">Törlés</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/plane/update/' + ${plane.id}}" method="get">
                    <button type="submit">Módosítás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form th:action="@{'/admin/hotel/createhotel'}" method="get">
        <button type="submit">Új hotel</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Város_ID</th>
            <th>Név</th>
            <th>Leírás</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel: ${hotel}">
            <td th:text="${hotel.id}"></td>
            <td th:text="${hotel.townId}"></td>
            <td th:text="${hotel.name}"></td>
            <td th:text="${hotel.description}"></td>
            <td>
                <form th:action="@{'/admin/hotel/delete/' + ${hotel.id}}" method="post">
                    <button type="submit">Törlés</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/hotel/update/' + ${hotel.id}}" method="get">
                    <button type="submit">Módosítás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <form th:action="@{'/admin/flight/createflight'}" method="get">
        <button type="submit">Új járat</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Kiindulási idő</th>
            <th>Érkezési idő</th>
            <th>Kiindulási Város</th>
            <th>Érkezési Város</th>
            <th>Repülő ID</th>
            <th>Ár</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight: ${flight}">
            <td th:text="${flight.id}"></td>
            <td th:text="${flight.startingTime}"></td>
            <td th:text="${flight.landingTime}"></td>
            <td th:text="${flight.startingTown}"></td>
            <td th:text="${flight.landingTown}"></td>
            <td th:text="${flight.planeId}"></td>
            <td th:text="${flight.price}"></td>
            <td>
                <form th:action="@{'/admin/flight/delete/' + ${flight.id}}" method="post">
                    <button type="submit">Törlés</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/flight/update/' + ${flight.id}}" method="get">
                    <button type="submit">Módosítás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Járat ID</th>
            <th>Ülőhely</th>
            <th>Biztosítás ID</th>
            <th>Jegykategoria ID</th>
            <th>Név</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket: ${ticket}">
            <td th:text="${ticket.flightId}"></td>
            <td th:text="${ticket.seat}"></td>
            <td th:text="${ticket.insuranceId}"></td>
            <td th:text="${ticket.getJegykategoria()}"></td>
            <td th:text="${ticket.name}"></td>
            <td th:text="${ticket.email}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div>
    <div>
        <p>Vársoból városba menő járatok száma heti szinten</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Hét</th>
            <th>Kiindulási Város</th>
            <th>Érkezési Város</th>
            <th>Járatok száma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="towntotownWeek: ${towntotownWeek}">
            <td th:text="${towntotownWeek.time}"></td>
            <td th:text="${towntotownWeek.startingTown}"></td>
            <td th:text="${towntotownWeek.landingTown}"></td>
            <td th:text="${towntotownWeek.count}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <div>
        <p>Vársoból városba menő járatok száma havi szinten</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Hónap</th>
            <th>Kiindulási Város</th>
            <th>Érkezési Város</th>
            <th>Járatok száma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="towntotownMonth: ${towntotownMonth}">
            <td th:text="${towntotownMonth.time}"></td>
            <td th:text="${towntotownMonth.startingTown}"></td>
            <td th:text="${towntotownMonth.landingTown}"></td>
            <td th:text="${towntotownMonth.count}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <div>
        <p>Vársoból városba menő emberek száma heti szinten</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Hét</th>
            <th>Kiindulási Város</th>
            <th>Érkezési Város</th>
            <th>Emberek száma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="towntotownPeopleWeek: ${towntotownPeopleWeek}">
            <td th:text="${towntotownPeopleWeek.time}"></td>
            <td th:text="${towntotownPeopleWeek.startingTown}"></td>
            <td th:text="${towntotownPeopleWeek.landingTown}"></td>
            <td th:text="${towntotownPeopleWeek.count}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <div>
        <p>Vársoból városba menő emberek száma havi szinten</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Hónap</th>
            <th>Kiindulási Város</th>
            <th>Érkezési Város</th>
            <th>Emberek száma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="towntotownPeopleMonth: ${towntotownPeopleMonth}">
            <td th:text="${towntotownPeopleMonth.time}"></td>
            <td th:text="${towntotownPeopleMonth.startingTown}"></td>
            <td th:text="${towntotownPeopleMonth.landingTown}"></td>
            <td th:text="${towntotownPeopleMonth.count}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div>
    <div>
        <p>Felhasználoknak hány jegye van</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>jegyszám</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userstat : ${userstat}">
                <td th:text="${userstat.getEmail()}"></td>
                <td th:text="${userstat.getDb()}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Átlag jegy ár</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Modell</th>
            <th>Jegyár</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="avgprice : ${statistic}">
            <td th:text="${avgprice.getModel()}"></td>
            <td th:text="${avgprice.getSeatsNumber()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Járatok bevételi statisztikája</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Indulási város</th>
            <th>Célváros</th>
            <th>Kiindulási időpont</th>
            <th>Szolgáltató</th>
            <th>Eladott jegyek</th>
            <th>Alapár</th>
            <th>Biztosítási bevétel</th>
            <th>Jegy bevétel</th>
            <th>Teljes bevétel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="incomestats : ${incomestat}">
            <td th:text="${incomestats.getId()}"></td>
            <td th:text="${incomestats.getIndulasi_varos()}"></td>
            <td th:text="${incomestats.getErkezesi_varos()}"></td>
            <td th:text="${incomestats.getIndulasi_idopont()}"></td>
            <td th:text="${incomestats.getSzolgaltato()}"></td>
            <td th:text="${incomestats.getEladott_jegyek()}"></td>
            <td th:text="${incomestats.getAlapar()}"></td>
            <td th:text="${incomestats.getBiztositasi_bevetel()}"></td>
            <td th:text="${incomestats.getJegy_bevetel()}"></td>
            <td th:text="${incomestats.getTeljes_bevetel()}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Utasok statisztikái</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Korcsoport</th>
            <th>Utasok száma</th>
            <th>Repülések száma</th>
            <th>Átlagos jegyár</th>
            <th>Átlagos biztosítási ár</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="passengerstats : ${passengerdemog}">
            <td th:text="${passengerstats.getKorcsoport()}"></td>
            <td th:text="${passengerstats.getUtasok_szama()}"></td>
            <td th:text="${passengerstats.getRepulesek_szama()}"></td>
            <td th:text="${passengerstats.getAtlagos_jegyar()}"></td>
            <td th:text="${passengerstats.getAtlagos_biztositas_ara()}"></td>


        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Legsikeresebb szolgáltatók</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Szolgáltató</th>
            <th>Eladott jegyek</th>
            <th>Jegyek bevétele</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="szolgaltatostats : ${szolgaltatostat}">
            <td th:text="${szolgaltatostats.getSzolgaltato()}"></td>
            <td th:text="${szolgaltatostats.getOssz_eladott_jegy()}"></td>
            <td th:text="${szolgaltatostats.getOssz_bevetel()}"></td>




        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Járatok ahol magasabb az ár mint az áttlag</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Ár:</th>
            <th>Szollgáltato</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="szolgaltatostats : ${avg}">
            <td th:text="${szolgaltatostats.getId()}"></td>
            <td th:text="${szolgaltatostats.getModel()}"></td>
            <td th:text="${szolgaltatostats.getServiceProvider()}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Napi foglalás szám és bevétel</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Datum:</th>
            <th>Foglalás szám:</th>
            <th>Bevétel:</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="szolgaltatostats : ${daily}">
            <td th:text="${szolgaltatostats.getSzolgaltato().split(' ')[0]}"></td>
            <td th:text="${szolgaltatostats.getOssz_eladott_jegy()}"></td>
            <td th:text="${szolgaltatostats.getOssz_bevetel()}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Megjeleníti, hogy a foglalásokhoz milyen jegykategóriákat választottak</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Jegykategória</th>
            <th>Kedvezményes százalék</th>
            <th>Foglalások száma</th>
            <th>Átlag fizetett ár</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="ticketstatCat : ${ticketstat}">
            <td th:text="${ticketstatCat.getCategory()}"></td>
            <td th:text="${ticketstatCat.getDiscount()}"></td>
            <td th:text="${ticketstatCat.getFoglalasok_szama()}"></td>
            <td th:text="${ticketstatCat.getAtlag_fizetett()}"></td>


        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <p>Kilistázza, hogy az egyes járatokon hány szabad hely van még</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Járat azonosító</th>
            <th>Utvonal</th>
            <th>Indulás</th>
            <th>Összes hely</th>
            <th>Foglalt helyek</th>
            <th>Szabad helyek</th>



        </tr>
        </thead>
        <tbody>
        <tr th:each="szabadhelyek : ${freeseats}">
            <td th:text="${szabadhelyek.getId()}"></td>
            <td th:text="${szabadhelyek.getUtvonal()}"></td>
            <td th:text="${szabadhelyek.getIdopont()}"></td>
            <td th:text="${szabadhelyek.getUlohelyek()}"></td>
            <td th:text="${szabadhelyek.getFoglalthely()}"></td>
            <td th:text="${szabadhelyek.getSzabadhelyek()}"></td>



        </tr>
        </tbody>
    </table>
</div>

</body>
</html>