<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <button onclick="window.location.href='/admin'">Vissza</button>
</div>
<form th:action="@{/admin/booking/update/{booking_id}(booking_id=${booking.id})}" method="post">

    <label for="flight_id">Járat:</label>
    <select id="flight_id" name="flight_id">
        <option th:text="${booking.flight_id}" th:value="${booking.flight_id}" selected>Válasz járatot</option>
        <option th:each="flight: ${flight}"
                th:value="${flight.id}"
                th:text="${flight.id}">
        </option>
    </select>
    <label for="ticket_category_id">Jegykategória:</label>
    <select id="ticket_category_id" name="ticket_category_id">
        <option th:text="${booking.ticket_category_id}" th:value="${booking.ticket_category_id}" selected>Válasz járatot</option>
        <option th:each="ticketcategory: ${ticketcategory}"
                th:value="${ticketcategory.id}"
                th:text="${ticketcategory.name}">
        </option>
    </select>
    <label for="seat">Ülőhely:</label>
    <input type="number" id="seat" name="seat" th:value="${booking.seat}"><br><br>

    <button type="submit">Foglalás módosítása</button>
</form>
</body>
</html>