<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    li{
        display: inline-block;
        list-style-position: outside;
        list-style-type: none;
        margin: 10px;
    }
</style>
<header>
    <div>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/regist">Regist</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/admin">Admin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/profil">Profil</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/ticket">Ticket</a>
            </li>
        </ul>
    </div>
</header>
<form th:action="@{/login}" method="post">
    <label for="username">email:</label>
    <input type="text" id="username" name="username" required>
    <br><br>

    <label for="password">Jelszó:</label>
    <input type="password" id="password" name="password" required>
    <br><br>

    <button type="submit">Bejelentkezés</button>
</form>

<div th:if="${param.error}" class="error">
    <p style="color: red;">Hibás felhasználónév vagy jelszó!</p>
</div>



</body>
</html>