<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <p>Profil:</p>
  <div>
    <p th:text="${user.getName()}"></p>
    <p th:text="${user.getEmail()}"></p>
    <p th:text="${user.getBirthDate()}"></p>
  </div>
    <form th:action="@{/modify}" method="get">
        <button type="submit">Modositás</button>
    </form>
    <form th:action="@{/delete}" method="post">
        <button type="submit">Fiók törlése</button>
    </form>

</div>

</body>
</html>