<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <button onclick="window.location.href='/admin'">Vissza</button>
</div>
<form th:action="@{/admin/ticket/update/{flight_id}/{seat}(flight_id=${ticket.flightId}, seat=${ticket.seat})}" method="post">

  <label for="newSeat">Ülőhely:</label>
  <input type="number" id="newSeat" name="newSeat" th:value="${ticket.seat}" required><br><br>
  <label for="insuranceId">Indulási város:</label>
  <select id="insuranceId" name="insuranceId">
    <option th:text="${ticket.insuranceId} "th:value="${ticket.insuranceId + ' (jelenlegi)'}" selected></option>
    <option th:each="insurance: ${insurance}"
            th:value="${insurance.id}"
            th:text="${insurance.name}">
    </option>
  </select>
  <label for="name">Ár:</label>
  <input type="text" id="name" name="name" maxlength="100" th:value="${ticket.name + ' (jelenlegi)'}" required><br><br>
  <label for="email">Email:</label>
  <select id="email" name="email">
    <option th:text="${ticket.email}" th:value="${ticket.email}" selected></option>
    <option th:each="user: ${user}"
            th:value="${user.email}"
            th:text="${user.email}">
    </option>
  </select>


  <button type="submit">Jegy módosítása</button>
</form>
</body>
</html>