<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    li{
        display: inline-block;
        list-style-position: outside;
        list-style-type: none;
        margin: 10px;
    }
</style>
<header>
    <div>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/regist">Regist</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/admin">Admin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/profil">Profil</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/ticket">Ticket</a>
            </li>
        </ul>
    </div>
</header>
<body>
<div>
    <form th:action="@{'/ticket/search'}" method="get">
        <label for="nap">Datum:</label>
        <input type="date" required name="nap" id="nap">
        <label for="ki_hely">Kindulási hely</label>
        <select name="ki_hely" id="ki_hely">
           <option th:each="city : ${city}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
        <label for="be_hely">Érkezési hely:</label>
        <select name="be_hely" id="be_hely">
            <option th:each="city : ${city}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
        <button type="submit">Keresés </button>
    </form>
    <table th:if="${searchResult==null || searchResult.isEmpty()}">
        <thead>
        <tr>
            <th>Járat ID</th>
            <th>Kiindulási város</th>
            <th>Kiindulási idő</th>
            <th>Érkezési város</th>
            <th>Érkezési idő</th>
            <th>Repülő ID</th>
            <th>Ár</th>
        </tr>
        </thead>
        <tbody th:if="${ customflight!=null && !customflight.isEmpty() }">
        <tr th:each="customflight: ${customflight}">
            <td th:text="${customflight.flightId}"></td>
            <td th:text="${customflight.startingTown}"></td>
            <td th:text="${customflight.startingTime}"></td>
            <td th:text="${customflight.landingTown}"></td>
            <td th:text="${customflight.landingTime}"></td>
            <td th:text="${customflight.planeId}"></td>
            <td th:text="${customflight.price}"></td>
            <td>
                <form th:action="@{'/ticket/create/' + ${customflight.flightId}}" method="get">
                    <button type="submit">Foglalás</button>
                </form>
            </td>
        </tr>
        </tbody>
        <tbody th:if="${searchResult!=null}">
            <tr th:if="${searchResult.isEmpty()}">
                <td>Nincs ilyen járat</td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>