<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    li{
        display: inline-block;
        list-style-position: outside;
        list-style-type: none;
        margin: 10px;
    }
</style>
<header>
    <div>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/regist">Regist</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/admin">Admin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/profil">Profil</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/ticket">Ticket</a>
            </li>
        </ul>
    </div>
</header>
<body>
<div>
    <form th:action="@{'/ticket/search'}" method="get">
        <label for="nap">Datum:</label>
        <input type="date" required name="nap" id="nap">
        <label for="ki_hely">Kindulási hely</label>
        <select name="ki_hely" id="ki_hely">
           <option th:each="city : ${city}" th:value="${city.id}" th:text="${city.name}"></option>
        </select>
        <label for="be_hely">Érkezési hely:</label>
        <select name="be_hely" id="be_hely">
            <option th:each="city : ${city}" th:value="${city.id}" th:text="${city.name}"></option>
        </select>
        <button type="submit">Keresés </button>
    </form>
    <table th:if="${(searchResult==null || searchResult.isEmpty()) && customflight!=null && !customflight.isEmpty()}">
        <thead>
        <tr>
            <th>Járat ID</th>
            <th>Kiindulási város</th>
            <th>Kiindulási idő</th>
            <th>Érkezési város</th>
            <th>Érkezési idő</th>
            <th>Repülő ID</th>
            <th>Ár</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customflight: ${customflight}">
            <td th:text="${customflight.flightId}"></td>
            <td th:text="${customflight.startingTown}"></td>
            <td th:text="${customflight.startingTime}"></td>
            <td th:text="${customflight.landingTown}"></td>
            <td th:text="${customflight.landingTime}"></td>
            <td th:text="${customflight.planeId}"></td>
            <td th:text="${customflight.price}"></td>
            <td>
                <form th:action="@{'/ticket/create/' + ${customflight.flightId}}" method="get">
                    <button type="submit">Foglalás</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${searchResult!=null && !searchResult.isEmpty()}" th:each="s : ${searchResult}">
        <!--/*@thymesVar id="s" type="com.adatb.repjegy_fogalas.Model.Serch_Result"*/-->
        <div th:if="${s.is_direct()}">
            <p th:text="${'Id:' + s.getFirst_flight().getFlightId()}"></p>
            <p th:text="${'Kiindulási város:' + s.getFirst_flight().getStartingTown()}"></p>
            <p th:text="${'Érkezési város:' + s.getFirst_flight().getLandingTown()}"></p>
            <p th:text="${'Érkezési város:' + s.getFirst_flight().getStartingTime()}"></p>
            <p th:text="${'Érkezési idő:' + s.getFirst_flight().getLandingTown()}"></p>
            <p th:text="${'Repülő ID:' + s.getFirst_flight().getPlaneId()}"></p>
            <p th:text="${'Ár:' + s.getFirst_flight().getPrice()}"></p>
            <form th:action="@{'/ticket/create/' + ${s.getFirst_id()}}" method="get">
                <button type="submit">Foglalás</button>
            </form>
        </div>

        <h2 th:if="${!s.is_direct()}">Átszálásos!</h2>
        <div th:if="${!s.is_direct()}">
            <p th:text="${'Id:' + s.getFirst_flight().getFlightId()}"></p>
            <p th:text="${'Kiindulási város:' + s.getFirst_flight().getStartingTown()}"></p>
            <p th:text="${'Érkezési város:' + s.getFirst_flight().getLandingTown()}"></p>
            <p th:text="${'Érkezési város:' + s.getFirst_flight().getStartingTime()}"></p>
            <p th:text="${'Érkezési idő:' + s.getFirst_flight().getLandingTown()}"></p>
            <p th:text="${'Repülő ID:' + s.getFirst_flight().getPlaneId()}"></p>
            <p th:text="${'Ár:' + s.getFirst_flight().getPrice()}"></p>
            <form th:action="@{'/ticket/create/' + ${s.getFirst_id()}}" method="get">
                <button type="submit">Foglalás</button>
            </form>
        </div>
        <div th:if="${!s.is_direct()}">
            <p th:text="${'Id:' + s.getSecond_flight().getFlightId()}"></p>
            <p th:text="${'Kiindulási város:' + s.getSecond_flight().getStartingTown()}"></p>
            <p th:text="${'Érkezési város:' + s.getSecond_flight().getLandingTown()}"></p>
            <p th:text="${'Érkezési város:' + s.getSecond_flight().getStartingTime()}"></p>
            <p th:text="${'Érkezési idő:' + s.getSecond_flight().getLandingTown()}"></p>
            <p th:text="${'Repülő ID:' + s.getSecond_flight().getPlaneId()}"></p>
            <p th:text="${'Ár:' + s.getSecond_flight().getPrice()}"></p>
            <form th:action="@{'/ticket/create/' + ${s.getSecond_id()}}" method="get">
                <button type="submit">Foglalás</button>
            </form>
        </div>
        <hr>
    </div>

    <div th:if="${searchResult!=null && searchResult.isEmpty()}">
        <p>Nincs ilyen járat</p>
    </div>

</div>
</body>
</html>